body,
html {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Acme', sans-serif;
	background-position: center;
	background-image: url("header.jpg");
	background-size: cover;
}

.startup h1 {
    padding-top: 150px;
	padding-bottom: 70px;
	color: white;
	font-size: 4rem; 
}

.startup h1:hover {
	color: yellow;
}
}

.btn {
	font-family: 'Acme', sans-serif;
	color: black;		
}

.btn-primary {
	background-color: white;
	border-color: white;
	color: black;
}

.btn-primary:hover {
	background-color: yellow;
	border-color: yellow;
	color: black;
	cursor: pointer;
}


